:root {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.display-flex-row {
  display: flex;
}
.display-flex-column {
  display: flex;
  flex-direction: column;
}

#a-social-footer {
  flex-wrap: wrap;
  gap: 1rem 2rem;
  width: 60%;
}

#social-footer {
  background-color: var(--secondary-colour);
  padding: 3.5rem 12.5rem 3.5rem 12.5rem;
}

.links-n-icon {
  padding: 1.5rem 0;
  justify-content: space-between;
}

.social {
  margin: 0;
  align-items: flex-end;
}

.social-icons {
  justify-content: space-between;
  padding-top: 0.5rem;
  width: 100%;
}

.bottom-footer {
  background-color: var(--ea-light-color);
  padding: 3rem 12.5rem 3rem 12.5rem;
  justify-content: space-between;
}

.middle-bottom-footer {
  padding-left: 0.2rem;
  flex-basis: 75%;
}

.bottom-footer > img {
  width: 64px;
  height: 64px;
}

.bottom-footer-links {
  width: fit-content;
}

.bottom-footer-links > * {
  padding-right: 2rem;
}

.legal-links {
  width: 40%;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
  padding-top: 2rem;
}

.bottom-right-footer {
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.selection {
  width: 190px;
  height: 60px;
  margin: 0;
  border: 2px solid rgb(194, 194, 194);
  border-radius: 5%;
  align-items: center;
  align-content: center;
  padding: 8px 24px;
  background-color: var(--ea-light-color);
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.selection:hover {
  padding: 0.3 0 0.3 0;
  box-sizing: content-box;
}

.selected {
  align-items: center;
  position: absolute;
  left: 0.5rem;
}

.selected > img {
  width: 20px;
  height: 20px;
  padding: 0.5rem;
}

#down-arrow {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 140px;
}

.onclick-selection {
  width: 590px;
  height: 450px;
  position: absolute;
  background-color: var(--ea-light-color);
  top: -448px;
  right: -20px;
  border: 2px solid rgb(194, 194, 194);
  visibility: hidden;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.16);
}
.flags {
  width: 90%;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 25px 20px;
}

.flags > * {
  border-bottom: 2px solid rgba(128, 128, 128, 0.199);
  padding-bottom: 0.4rem;
  cursor: pointer;
  font-size: 15px;
}

.flags > div:hover {
  padding-left: 0.8rem;
  transition-duration: 0.2s;
}
#mex,
#ne,
#tr {
  border-bottom: none;
}

#check {
  width: 18px;
  height: 18px;
  float: right;
  visibility: hidden;
}

body {
  margin-top: 300px;
}
