* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --main-colour: #ff4747;
  --secondary-colour: #eaeaea;
  --rare-cyan: #5aa0d6;
  --ea-black: #161616;

  --ea-dark-color: #161616;
  --ea-light-color: #f3f3f3;
  --ea-dark-color-rgb: 22, 22, 22;
  --ea-light-color-rgb: 243, 243, 243;
  --origin-brand-color: #f56c2c;
  --ea-access-brand-color: #0089cd;
  --xbox-brand-color: #52b043;
  --playstation-brand-color: #003087;
  --nintendo-brand-color: #fe0016;
  --ea-success-color: #00dc8f;
  --ea-error-color: #ff6969;

  color: var(--ea-dark-color);
  --main-font: Verdana, Helvetica;
  --bottom-footer-font: "Oswald";
  --legal-font: "Seravek";
  font-family: var(--main-font);
}

body {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

body > main {
  flex-basis: 100%;
}

.border {
  border: 5px dashed green;
}

main h3 {
  margin-top: 4rem;
  font-size: 2.2rem;
  font-weight: 800;
}

.flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexRowBeetw {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexRowStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexCenterOne {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 1100px;
  margin-top: 2rem;
  gap: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 340px);
}

.mainBody > .grid > a {
  position: relative;
}

.mainBody > .grid > a > .title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 8;
}

.mainBody > .grid > a > .title > img {
  transition: transform 200ms ease-out;
  z-index: 9;
}

.rgbaBackground {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.battleFieldMainBody {
  background-image: url("styleGuide/assets/Battlefield-2042-4.jpg");
}

.FIFA22MainBody {
  background-image: url("styleGuide/assets/fifa22-gen5-ultimate-edition-packart.png");
}

.FI21MainBody {
  background-image: url("styleGuide/assets/fi2021.jpg");
}

.NfSHPMainBody {
  background-image: url("styleGuide/assets/s903xz8pn3gTqY4bcKEAxnBo.webp");
}

.ApexLegendsMainBody {
  background-image: url("styleGuide/assets/apex-legends.jpg");
}

.theSims4MainBody {
  background-image: url("styleGuide/assets/theSims4.jpg");
}

.backImgBehaviour {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.appendBackgr {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(178, 55, 72, 90%),
    rgba(65, 31, 66, 90%)
  );
  transition: opacity 500ms;
  position: absolute;
  opacity: 0;
}

.mainHeader {
  background-image: url("styleGuide/assets/Battlefield-2042.jpg");
  flex-basis: 70vh;
  width: 100%;
  background-size: cover;
  overflow: hidden;
}

body > nav,
header {
  position: sticky;
}
