body > header {
  flex-basis: 2.6rem;
  background-color: var(--ea-black);
  display: flex;
  justify-content: flex-end;
  align-content: center;
  gap: 39px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: top 300ms linear;
}

.toBackGround > nav {
  height: 60px;
  z-index: 7;
  top: 35px;
  background-color: white;
  width: 100%;
  position: fixed;
  transition: top 500ms;
}

.ea-icon {
  fill: #a3a3a3;
}

.icon-nav {
  height: 20px;
  fill: #f3f3f3;
}

.circlesSuperPosition {
  position: relative;
  margin: 0 18px;
  height: 100%;
}

.circles-nav,
.circles-nav-big {
  margin-left: 22px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  transition: opacity 200ms;
}

.circles-nav-big {
  opacity: 0;
}

.nav-circle {
  background-color: black;
  margin: 1.3px;
  height: 5.5px;
  width: 5.5px;
  border-radius: 100%;
  transition: background-color 500ms;
}

.circles-nav-big > .nav-circle {
  margin: 2px;
  height: 7px;
  width: 7px;
}
.logo {
  width: 260px;
  justify-content: flex-start;
  margin-right: 1.5%;
}

.navMenu {
  flex-basis: 100%;
  gap: 20px;
}

.toBackGround {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #f3f3f3;
}

.blackBack {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.toBackGround > .aside {
  position: absolute;
  width: 410px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  z-index: -1;
}

.toBackGround > .aside > .close {
  position: absolute;
  right: 55px;
  top: 55px;
  cursor: pointer;
}

.toBackGround > .aside > .close > [src*="close"] {
  width: 13px;
  position: absolute;
  top: 0;
  right: 0;
}
.toBackGround > .aside > .close > [src*="close-red"] {
  position: absolute;
  opacity: 0;
}
