* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --main-colour: ;
  --secondary-colour: #eaeaea;
  --rare-cyan: #5aa0d6;
  --ea-black: #161616;

  --ea-dark-color: #161616;
  --ea-light-color: #f3f3f3;
  --ea-dark-color-rgb: 22, 22, 22;
  --ea-light-color-rgb: 243, 243, 243;
  --origin-brand-color: #f56c2c;
  --ea-access-brand-color: #0089cd;
  --xbox-brand-color: #52b043;
  --playstation-brand-color: #003087;
  --nintendo-brand-color: #fe0016;
  --ea-success-color: #00dc8f;
  --ea-error-color: #ff6969;

  color: var(--ea-dark-color);
  --main-font: Verdana, Helvetica;
  --bottom-footer-font: "Oswald";
  --legal-font: "Seravek";
  font-family: var(--main-font);

  --ea-theme-body-font-size-desktop: 18px;
}

body {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5) inset;
  height: 100%;
}

body > main {
  flex-basis: 100%;
}

.border {
  border: 5px dashed green;
}

main h3 {
  margin-top: 4rem;
  font-size: 2.2rem;
  font-weight: 800;
}

.flexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexRowBeetw {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexRowStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexCenterOne {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 1100px;
  margin-top: 2rem;
  gap: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 340px);
}

.mainBody > .grid > a {
  position: relative;
}

.mainBody > .grid > a > .title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 6;
}

.mainBody > .grid > a > .title > img {
  transition: transform 200ms ease-out;
  z-index: 7;
}

.rgbaBackground {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.battleFieldMainBody {
  background-image: url("styleGuide/assets/Battlefield-2042-4.jpg");
}

.FIFA22MainBody {
  background-image: url("styleGuide/assets/fifa22-gen5-ultimate-edition-packart.png");
}

.FI21MainBody {
  background-image: url("styleGuide/assets/fi2021.jpg");
}

.NfSHPMainBody {
  background-image: url("styleGuide/assets/s903xz8pn3gTqY4bcKEAxnBo.webp");
}

.ApexLegendsMainBody {
  background-image: url("styleGuide/assets/apex-legends.jpg");
}

.theSims4MainBody {
  background-image: url("styleGuide/assets/theSims4.jpg");
}

.backImgBehaviour {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.appendBackgr {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(178, 55, 72, 90%),
    rgba(65, 31, 66, 90%)
  );
  transition: opacity 500ms;
  position: absolute;
  opacity: 0;
}

.mainHeader {
  background-image: url("styleGuide/assets/Battlefield-2042.jpg");
  flex-basis: 78vh;
  width: 100%;
  background-size: cover;
  overflow: hidden;
}
 .maintab {
   width: 100%;
   padding-left: 100px;

 }
.tabs {
  display: flex;
  flex-direction: row;
  position: relative;
  user-select: none;
  overflow: hidden;

}

.tabs::after {
  content: "";
  color: rgba(233, 14, 14, 0);
  position: absolute;
  width: 100%;
  bottom: 0;
  border-bottom: solid 2px rgba(0, 0, 0, 0.08);
}

.tabs button {
  cursor: pointer;
  padding: 15px;
  font-size: var(--ea-theme-body-font-size-desktop);
  line-height: 27px;
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0); 
}

.tabs button::after {
  content: ".";
  color: rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 4;
  right: 0%;
  left: 0%;
  height: min-content;
  border-right: 2px solid rgba(3, 0, 0, 0.09);
}

 button:last-child::after {
   border: none;
 }
 
.tabs button:hover {
  background-color: rgb(199, 199, 199);
} 
 
.tabs button:focus {
  border-bottom: 3px solid #f85d20;
  margin-right: 0 auto;
} 
.tabcontainer {
padding-left: 10px;
}

.maintab .tabcontent {
  display: none; 
} 

.maintab .tabcontainer .is-active {
  display: block;
  margin-top: 70px;
  margin-right: 0, auto;
}
