* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: turquoise;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
