body > header {
  flex-basis: 2.6rem;
  background-color: var(--ea-black);
  display: flex;
  justify-content: flex-end;
  align-content: center;
  gap: 39px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: top 300ms linear;
}

.toBackGround > nav {
  height: 60px;
  z-index: 7;
  top: 35px;
  background-color: white;
  width: 100%;
  position: fixed;
  transition: top 500ms;
}

nav > .navMenu > div {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  height: 60px;
  font-weight: 540;
}

nav > .navMenu > div > span {
  position: relative;
}

nav > .navMenu > div > span > .select {
  position: absolute;
  top: 50px;
  left: -30px;
  border-radius: 5px;
  background-color: rgba(243, 243, 243, 0.9);
  display: flex;
  align-items: center;
  width: max-content;
  padding: 0 30px;
  transition: height 500ms;
  visibility: hidden;
}

nav > .navMenu > div > span > .select > section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: black;
}

nav > .navMenu > div > span > .select > section > div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  font-size: 14px;
  height: inherit;
}

nav > .navMenu > div > span > .select > section > div > h1 {
  border-bottom: 1px solid rgb(192, 189, 189);
  padding-bottom: 5px;
  font-size: 15px;
  color: black;
}

nav > .navMenu > div > span > .select > section > div > a {
  padding: 10px;
}

nav > .navMenu > div > span a:hover {
  color: var(--main-colour);
}

nav > .navMenu > div > svg {
  transform: rotateX(180deg);
  transition: transform 500ms;
}

.ea-icon {
  fill: #a3a3a3;
}

.icon-nav {
  height: 20px;
  fill: #f3f3f3;
}

.circlesSuperPosition {
  position: relative;
  margin: 0 18px;
  height: 100%;
}

.circles-nav,
.circles-nav-big {
  margin-left: 22px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  transition: opacity 200ms;
}

.circles-nav-big {
  opacity: 0;
}

.nav-circle {
  background-color: black;
  margin: 1.3px;
  height: 5.5px;
  width: 5.5px;
  border-radius: 100%;
  transition: background-color 500ms;
}

.circles-nav-big > .nav-circle {
  margin: 2px;
  height: 7px;
  width: 7px;
}
.logo {
  width: 260px;
  justify-content: flex-start;
  margin-right: 1.5%;
}

.navMenu {
  flex-basis: 100%;
  gap: 20px;
}

.toBackGround {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #f3f3f3;
}

.blackBack {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.toBackGround > .aside {
  position: fixed;
  width: 410px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  z-index: -1;
}

.toBackGround > .aside > .close {
  position: absolute;
  right: 55px;
  top: 55px;
  cursor: pointer;
}

.toBackGround > .aside > .close > [src*="close"] {
  width: 13px;
  position: absolute;
  top: 0;
  right: 0;
}
.toBackGround > .aside > .close > [src*="close-red"] {
  position: absolute;
  opacity: 0;
}
