:root {
    --main-colour: #ff4747;
    --secondary-colour: #eaeaea;
    --rare-cyan: #5aa0d6;
    --ea-black: #161616;
  
    --ea-dark-color: #161616;
    --ea-light-color: #f3f3f3;
    --ea-dark-color-rgb: 22, 22, 22;
    --ea-light-color-rgb: 243, 243, 243;
    --origin-brand-color: #f56c2c;
    --ea-access-brand-color: #0089cd;
    --xbox-brand-color: #52b043;
    --playstation-brand-color: #003087;
    --nintendo-brand-color: #fe0016;
    --ea-success-color: #00dc8f;
    --ea-error-color: #ff6969;
  }
  
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }

body {
    height: 100vh;
}

header {
    height: 100px;
    display: flex;
    flex-direction: column;
}

.nav-black {
    background-color: var(--ea-black);
    display: flex;
    justify-content: flex-end;
    height: 45px;
    padding: 5px 10px;
}

.nav-black > ul {
    display: flex;
    list-style-type: none;
    padding: 5px;
}

.nav-black a {
    color: white;
    text-decoration: none;
}

.icon-nav {
    height: 18px;
    fill: #f3f3f3;
    padding: 0px 15px;
}

.ea-icon {
    fill: #a3a3a3;
    height: 24px;
    margin-top: -5px;
}

nav {
    height: 55px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 0px;
}

nav h3 {
    padding: 0px 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.circles-nav {
    height: 100%;
    width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-circle {
    background-color: black;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    margin: 3px;
}

section button {
    width: 150px;
    height: 45px;
    background-color: #ff4747;
    color: white;
    border-radius: 5px;
}