:root {
  --main-colour: #ff4747;
  --secondary-colour: #eaeaea;
  --rare-cyan: #5aa0d6;
  --ea-black: #161616;

  --ea-dark-color: #161616;
  --ea-light-color: #f3f3f3;
  --ea-dark-color-rgb: 22, 22, 22;
  --ea-light-color-rgb: 243, 243, 243;
  --origin-brand-color: #f56c2c;
  --ea-access-brand-color: #0089cd;
  --xbox-brand-color: #52b043;
  --playstation-brand-color: #003087;
  --nintendo-brand-color: #fe0016;
  --ea-success-color: #00dc8f;
  --ea-error-color: #ff6969;
}



.buttonAndTab {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.buttonAndTab h3 {
  font-size: 22px;
  padding: 5px;
}
.buttonAndTab p {
  padding: 5px;
  font-size: 16px;
}
.buttonAndTab span {
  font-size: 14px;
  font-weight: 600;
}
#topic {
  color: var(--main-colour);
  font-weight: 600;
}

#tab {
  display: flex;
  flex-direction: column;
  width: 368px;
}

#tab div {
  height: 258px;
  width: 100%;
  padding: 24px;
  line-height: 27px;
  background-color: white;
}

#tab img {
  width: 100%;
}
