:root {
  --main-colour: #ff4747;
  --secondary-colour: #eaeaea;
  --rare-cyan: #5aa0d6;
  --ea-black: #161616;

  --ea-dark-color: #161616;
  --ea-light-color: #f3f3f3;
  --ea-dark-color-rgb: 22, 22, 22;
  --ea-light-color-rgb: 243, 243, 243;
  --origin-brand-color: #f56c2c;
  --ea-access-brand-color: #0089cd;
  --xbox-brand-color: #52b043;
  --playstation-brand-color: #003087;
  --nintendo-brand-color: #fe0016;
  --ea-success-color: #00dc8f;
  --ea-error-color: #ff6969;
}

.mediaAssets {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.mediaAssets img {
  height: 5em;
}

.mediaAssets > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}

.giochi-ev {
  background-color: brown;
}

.flexRow {
  width: 100%;
  flex-basis: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
