:root {
  --opacity: 0;
  --main-colour: #ff4747;
  --secondary-colour: #eaeaea;
  --rare-cyan: #5aa0d6;
  --ea-black: #161616;
  --ea-dark-color: #161616;
  --ea-light-color: #f3f3f3;
  --ea-dark-color-rgb: 22, 22, 22;
  --ea-light-color-rgb: 243, 243, 243;
  --origin-brand-color: #f56c2c;
  --ea-access-brand-color: #0089cd;
  --xbox-brand-color: #52b043;
  --playstation-brand-color: #003087;
  --nintendo-brand-color: #fe0016;
  --ea-success-color: #00dc8f;
  --ea-error-color: #ff6969;
}

.buttonAndTab {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.buttonAndTab h3 {
  font-size: 22px;
  padding: 5px;
}
.buttonAndTab p {
  padding: 5px;
  font-size: 16px;
}
.buttonAndTab span {
  font-size: 14px;
  font-weight: 600;
}
#topic {
  color: var(--main-colour);
  font-weight: 600;
}

.tab {
  display: flex;
  flex-direction: column;
  width: 368px;
  position: relative;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
  transition: transform 300ms;
  transition-timing-function: ease-out;
}

.tab::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 20px 40px 50px 0 rgba(0, 0, 0, 0.5);
  opacity: var(--opacity, 0);
  transition: opacity 500ms;
}

.tab div {
  height: 258px;
  width: 100%;
  padding: 24px;
  line-height: 27px;
  background-color: white;
}

.tab img {
  width: 100%;
}
