/* start colours */

:root {
  --main-colour: #ff4747;
  --secondary-colour: #eaeaea;
  --rare-cyan: #5aa0d6;
  --ea-black: #161616;

  --ea-dark-color: #161616;
  --ea-light-color: #f3f3f3;
  --ea-dark-color-rgb: 22, 22, 22;
  --ea-light-color-rgb: 243, 243, 243;
  --origin-brand-color: #f56c2c;
  --ea-access-brand-color: #0089cd;
  --xbox-brand-color: #52b043;
  --playstation-brand-color: #003087;
  --nintendo-brand-color: #fe0016;
  --ea-success-color: #00dc8f;
  --ea-error-color: #ff6969;
}

#mainColour {
  background-color: var(--main-colour);
}
#originColour {
  background-color: var(--origin-brand-color);
}
#playStationColour {
  background-color: var(--playstation-brand-color);
}
#secondaryColour {
  background-color: var(--secondary-colour);
}
#rareCyan {
  background-color: var(--rare-cyan);
}
#eaBlack {
  background-color: var(--ea-black);
}

/* irrilevante ai fini del system design */

.colour > div {
  flex-basis: 30%;
  height: 40%;
}

.colour section {
  background-color: white;
}

.flexSpaceAroundWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.flexDirColJustEnd {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* end colours */
