:root {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.display-flex-row {
  display: flex;
}
.display-flex-column {
  display: flex;
  flex-direction: column;
}

#a-social-footer {
  flex-wrap: wrap;
  gap: 1rem 2rem;
  width: 75%;
}

#a-social-footer *:hover {
  color: rgb(234, 67, 67);
}
#social-footer {
  background-color: var(--secondary-colour);
  padding: 3.5rem 8rem 3.5rem 8rem;
}

.notice-text{
  padding-bottom: 20px;
  border-bottom: 1px solid #969696;
}

.links-n-icon {
  padding: 1.5rem 0;
  justify-content: space-between;
}

.social {
  margin: 0;
  align-items: flex-end;
}

.social-icons {
  justify-content: space-between;
  padding-top: 0.5rem;
  width: 240px;
}

footer > section {
  display: flex;
  justify-content: center;
}



.bottom-footer {
  background-color: var(--ea-light-color);
  padding: 3rem 8rem 3rem 8rem;
  justify-content: center;
  max-height: 300px;

}
.bottom-footer-container{
  display: grid;
  grid-template-columns: 40px 6fr 2fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 50px;
}
footer > section > div {
  flex-basis: 1140px;
}

.bottom-footer > div > img {
  width: 64px;
  height: 64px;
}

.middle-bottom-footer {
  margin-left: 0px;
}

.bottom-footer-links > * {
  padding-right: 2rem;
}

.legal-links {
  width: 80%;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 0.5rem 2rem;
  padding-top: 2rem;
}

.bottom-right-footer {
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.selection {
  width: 190px;
  height: 60px;
  margin: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.selected{
  background-color: var(--ea-light-color);
  align-items: center;
  justify-content: space-between;
  column-gap: 40px;
  padding: 18px 15px;
}



.selected > div > img {
  width: 22px;
  height: 22px;
  padding-right: 5px;
  
}

.selected > div > span{
  font-size: 0.8rem;
  font-weight: 500;
}
.selected > div{
  width: 100px;
  align-items: center;
}

.selection-container{
  border: 2px solid rgb(194, 194, 194);
  border-radius: 5%;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.selection-container:hover {
  padding: 20px 17px;
}
#down-arrow {
  width: 20px;
  height: 20px;
}

.onclick-selection {
  width: max-content;
  height: 600px;
  position: absolute;
  background-color: var(--ea-light-color);
  top: -575px;
  right: -20px;
  border: 2px solid rgb(194, 194, 194);
  visibility: hidden;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.16);
}
.flags {
  width: 90%;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 45px;
}

.flags > * {
  border-bottom: 2px solid rgba(128, 128, 128, 0.199);
  padding-bottom: 0.4rem;
  cursor: pointer;
  font-size: 15px;
}

.flags > div:hover {
  padding-left: 0.8rem;
  transition-duration: 0.2s;
}
#mex,
#ne,
#tr {
  border-bottom: none;
}

.check {
  width: 18px;
  height: 18px;
  float: right;
  visibility: hidden;
}

#default-check{
  visibility: hidden;
}


#google_translate_element{
    visibility: hidden;
}


@media all and (max-width: 1430px){
  .links-n-icon{
    flex-direction: column;
    row-gap: 20px;
  }
  .social{
    width: 40%;
    align-items: flex-start;
  }
  .bottom-footer-container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 20px;
  }
  .middle-bottom-footer{
    width: 100%;
  }
  .legal-links{
    flex-direction: row;
    width: 100%;
  }
  .bottom-right-footer{
    flex-direction: row-reverse;
  }

  .bottom-footer{
    max-height: 400px;
  }


}