:root {
  width: 100vw;
  height: 100vh;
  color: #161616;
  --main-font: Verdana, Helvetica;
  --bottom-footer-font: "Oswald";
  --legal-font: "Seravek";
  font-family: var(--main-font);
}
a {
  color: #161616;
  text-decoration: none;
}
p,
.article-content {
  font-size: 1.12rem;
}
h1,
.banner-title {
  font-size: 3.4rem;
  color: #f3f3f3;
  font-weight: 600;
}
h2 {
  font-size: 3rem;
  font-weight: 600;
}
h3,
.main-title {
  font-size: 2.75rem;
  font-weight: 600;
}
h6,
.banner-subtitle {
  font-size: 1.12rem;
  color: #f3f3f3;
  font-weight: 400;
}
.nav-elements {
  font-size: 1.12rem;
  text-decoration: none;
}
.button-text {
  font-size: 1.12rem;
  font-weight: 400;
}
.button-white-text {
  font-size: 1.12rem;
  font-weight: 400;
  color: #f3f3f3;
}
.article-brand-name {
  /*stile applicato al nome brand che si trova nella anteprima degli articoli(ultime novità)*/
  color: #ff4747;
  font-size: 1rem;
}
.article-date {
  /*stile applicato alle date che si trovano nella anteprima degli articoli(ultime novità)*/
  font-size: 1rem;
}
.article-title {
  /*titolo degli articoli(ultime novità)*/
  font-size: 1.5rem;
  font-weight: bold;
}
.sub-banner-title {
  /*banner azzurro parental control prima del footer*/
  font-size: 1.63rem;
  font-weight: 600;
}
.social-title {
  /*titolo sopra le icone social del footer*/
  font-size: 1rem;
  font-weight: 600;
}
.a-social-footer {
  /*links social footer*/
  font-size: 1rem;
  text-decoration: none;
}
.notice-text {
  /*condizioni, testo in alto all'interno del social footer*/
  font-size: 0.8rem;
}
.a-bottom-footer {
  /*links bottom footer in grassetto*/
  font-family: var(--bottom-footer-font);
  font-size: 1.12rem;
}
.text-legal-footer {
  /*links legal footer*/
  font-family: var(--legal-font);
  font-weight: 100;
}
@font-face {
  font-family: "Oswald";
  src: url("assets/Oswald-Regular.ttf");
}
@font-face {
  font-family: "Seravek";
  src: url("assets/Seravek/Basic.ttf");
}
