* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-colour: #ff4747;
  --secondary-colour: #eaeaea;
  --rare-cyan: #5aa0d6;
  --ea-black: #161616;

  --ea-dark-color: #161616;
  --ea-light-color: #f3f3f3;
  --ea-dark-color-rgb: 22, 22, 22;
  --ea-light-color-rgb: 243, 243, 243;
  --origin-brand-color: #f56c2c;
  --ea-access-brand-color: #0089cd;
  --xbox-brand-color: #52b043;
  --playstation-brand-color: #003087;
  --nintendo-brand-color: #fe0016;
  --ea-success-color: #00dc8f;
  --ea-error-color: #ff6969;
  --ea-clone-light-gray: #9b9797;
}

$font-weights: (
  "regular": 200,
  "medium": 500,
  "bold": 700,
);

@mixin flexAlignCenter($direction, $justify) {
  display: flex;
  justify-content: $justify;
  align-items: center;
  flex-direction: $direction;
}

body > header {
  height: 2.4rem;
  width: 100%;
  background-color: var(--ea-black);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 39px;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: top 300ms linear;
}

body > header > .headerHeight {
  font-size: 16px;
  font-family: sans-serif;
  position: absolute;
  top: 2.3rem;
  min-height: 0;
  width: 100%;
  background-color: inherit;
  transition: 200ms ease-in-out;
  @include flexAlignCenter(column, center);
  & > section {
    @include flexAlignCenter(column, center);
    gap: 20px;
    width: 650px;
    background-color: orange;
    & > section {
      @include flexAlignCenter(row, space-between);
      width: 80%;
      & > div {
        @include flexAlignCenter(column, center);
        row-gap: 25px;
        flex-basis: 232px;
        height: 150px;
      }
    }
    & a {
      color: var(--ea-light-color);
      font-weight: map-get($font-weights, regular);
      @include flexAlignCenter(column, center);
      gap: 5px;
    }
    & > p {
      color: var(--ea-light-color);
      font-size: 14px;
      & > a {
        display: inline;
        color: #ff1e3c;
      }
    }
    & a > img {
      width: 36px;
    }
  }

  & > .closeHeader {
    position: absolute;
    top: 45px;
    right: 35px;
    z-index: 10;
    width: 14px;
    height: 14px;
    transition: 500ms;
    cursor: pointer;
  }
}

.headerHeightShad {
  &::after {
    content: " ";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--ea-black);
    box-shadow: 0 5px 40px 10px rgba(0, 0, 0, 0.5);
  }
}

.toBackGround {
  box-shadow: 5px 0 20px 2px #888888 inset;
}

.toBackGround > nav {
  height: 60px;
  z-index: 7;
  top: 35px;
  background-color: white;
  width: 100%;
  position: fixed;
  transition: top 500ms;
}

nav > .navMenu > div {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  min-height: 75px;
}

nav > .navMenu > div > span {
  position: relative;
}

nav > .navMenu > div > span > .select {
  position: absolute;
  top: 50px;
  left: -30px;
  border-radius: 5px;
  background-color: rgba(243, 243, 243, 0.9);
  display: flex;
  align-items: baseline;
  width: max-content;
  transition: max-height 200ms ease-out;
  height: auto;
  max-height: 0;
}

nav > .navMenu > div > span > .select > section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  opacity: 0;
  transition: opacity 500ms;
  visibility: hidden;
}

nav > .navMenu > div > span > .select > section > div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  font-size: 14px;
  padding: 20px 30px;
}

nav > .navMenu > div > span > .select > section > div > h1 {
  border-bottom: 1px solid rgb(192, 189, 189);
  padding-bottom: 5px;
  font-size: 15px;
  color: black;
}

nav > .navMenu > div > span > .select > section > div > a {
  padding: 10px;
}

nav > .navMenu > div > span a:hover {
  color: var(--main-colour);
}

nav > .navMenu > div > svg {
  transform: rotateX(180deg);
  transition: transform 500ms;
}

.ea-icon {
  fill: #a3a3a3;
}

.icon-nav {
  height: 20px;
  fill: #f3f3f3;
}

.circlesSuperPosition {
  position: relative;
  margin: 0 18px;
  height: 100%;
}

.circles-nav,
.circles-nav-big {
  margin-left: 22px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  transition: opacity 200ms;
}

.circles-nav-big {
  opacity: 0;
}

.nav-circle {
  background-color: black;
  margin: 1.3px;
  height: 5.5px;
  width: 5.5px;
  border-radius: 100%;
  transition: background-color 500ms;
}

.circles-nav-big > .nav-circle {
  margin: 2px;
  height: 7px;
  width: 7px;
}
.logo {
  width: 260px;
  justify-content: flex-start;
  margin-right: 1.5%;
}

.navMenu {
  flex-basis: 100%;
  gap: 20px;
}

.toBackGround {
  width: 100%;
  position: relative;
  background-color: #f3f3f3;
}

.blackBack {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.toBackGround > .aside {
  position: fixed;
  width: 410px;
  height: 100%;
  top: -30px;
  left: -410px;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  z-index: 9;
  transition: 400ms ease-out;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.toBackGround > .aside::-webkit-scrollbar {
  display: none;
}

.toBackGround > .aside {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.aside > * {
  margin-left: 2rem;
  margin-right: 2.5rem;
}

.toBackGround > .aside > .close {
  margin-top: 5.8rem;
  display: flex;
  flex-direction: row-reverse;
  min-height: 50px;
  justify-content: space-between;
}

.toBackGround > .aside > .close > a > h4 {
  color: var(--ea-clone-light-gray);
}

.toBackGround > .aside > .close > a > h4:hover {
  color: var(--main-colour);
}

.close-x {
  cursor: pointer;
  position: relative;
}

.toBackGround > .aside > .play {
  display: grid;
  height: 880px;
  grid-template-rows: repeat(5, 151px);
  grid-template-columns: repeat(2, 151px);
  gap: 1.7rem;
  margin-top: 1em;
  margin-bottom: 60px;
}

.titleAside {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleAside > img {
  width: 50%;
  height: 25%;
  transition: transform 100ms ease-in;
}

#asidePlay {
  grid-area: 1/1/3/3;
}

.toBackGround > .aside > .close [src*="close"] {
  width: 14px;
  position: absolute;
  top: 0;
  right: 0;
}

.toBackGround > .aside > .close [src*="close-red"] {
  opacity: 0;
}
