:root {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.display-flex-row {
  display: flex;
}
.display-flex-column {
  display: flex;
  flex-direction: column;
}
.a-social-footer {
  flex-wrap: wrap;
  gap: 1rem 2rem;
  width: 100%;
}
.a-social-footer *:hover {
  color: rgb(234, 67, 67);
}
.social-footer {
  background-color: var(--secondary-colour);
  padding: 3.5rem 8rem 3.5rem 13vw;
}

.links-n-icon {
  padding: 1.5rem 0;
  justify-content: space-between;
}
.social {
  margin: 0;
  align-items: flex-end;
  width: 30%;
}
.social-icons {
  justify-content: space-between;
  padding-top: 0.5rem;
  width: 15rem;
  padding-top: 0.8rem;
}

.social-icons > img {
  width: 26px;
}

.social-icons > img:hover {
  transform: scale(1.3);
  cursor: pointer;
  transition: 300ms;
}

footer > section {
  display: flex;
  justify-content: center;
}
.bottom-footer {
  background-color: var(--ea-light-color);
  padding: 3rem 8rem 3rem 13vw;
  justify-content: center;
}
.bottom-footer-container {
  display: grid;
  grid-template-columns: 40px 6fr 2fr;
  grid-template-rows: 1fr;
  column-gap: 50px;
}
footer > section > div {
  flex-basis: 1140px;
}
.bottom-footer > div > img {
  width: 64px;
  height: 64px;
}
.middle-bottom-footer {
  margin-left: 0px;
}
.bottom-footer-links > * {
  padding-right: 2rem;
}
.legal-links {
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 0.5rem 2rem;
  padding-top: 2rem;
  width: 60%;
}
.bottom-right-footer {
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.selection {
  width: 190px;
  height: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.selected {
  background-color: var(--ea-light-color);
  align-items: center;
  justify-content: space-between;
  column-gap: 40px;
  padding: 18px 15px;
}
.selected > div > img {
  width: 20px;
  height: 15px;
  padding-right: 5px;
}
.selected > div > span {
  font-size: 0.8rem;
  font-weight: 500;
}
.selected > div {
  width: 100px;
  align-items: center;
}
.selection-container {
  border: 2px solid rgb(194, 194, 194);
  border-radius: 5%;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#down-arrow {
  width: 20px;
  height: 20px;
}
.onclick-selection {
  width: max-content;
  height: 600px;
  position: absolute;
  background-color: var(--ea-light-color);
  top: -595px;
  right: -20px;
  border: 2px solid rgb(194, 194, 194);
  visibility: hidden;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.16);
}
.flags {
  width: 90%;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 45px;
}
.flags > * {
  border-bottom: 2px solid rgba(128, 128, 128, 0.199);
  padding-bottom: 0.4rem;
  cursor: pointer;
  font-size: 15px;
}
.flags > div:hover {
  padding-left: 0.8rem;
  transition-duration: 0.2s;
}
#mex,
#ne,
#tr {
  border-bottom: none;
}
.check {
  width: 18px;
  height: 18px;
  float: right;
  visibility: hidden;
}
#default-check {
  visibility: hidden;
}
#google_translate_element {
  visibility: hidden;
}

.lang-mobile {
  display: none;
  align-items: center;
  margin-top: 1.2rem;
  width: 75%;
  height: 3rem;
  padding: 15px 0;
  position: relative;
  padding: 15px 0 15px 0;
}

.lang-mobile-flag {
  position: absolute;
  left: 20px;
  width: 18px;
  z-index: 1;
}

.lang-mobile > img:last-of-type {
  position: absolute;
  right: 20px;
  width: 22px;
  z-index: 1;
}

.lang-mobile > span {
  position: absolute;
  left: 45px;
  z-index: 1;
  font-size: 0.8rem;
}
.lang-mobile-select {
  position: absolute;
  height: 100%;
  background-color: transparent;
  color: transparent;
  width: 100%;
  z-index: 3;
}
.lang-mobile-select > option {
  color: black;
  background-color: var(--ea-light-color);
  font-size: 1rem;
}

.lang-mobile-border {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border: 2px solid rgb(194, 194, 194);
  border-radius: 3%;
  z-index: 2;
}

@media all and (max-width: 1430px) {
  .legal-links {
    width: 100%;
  }
  .bottom-footer-container > img:first-of-type {
    width: 49px;
    height: 49px;
  }
  p.social-title {
    font-size: 12px;
    width: 12rem;
  }
  .social-icons > img {
    width: 22px;
  }
  .social-icons {
    width: 12.9rem;
  }
  .selection {
    height: 48px;
  }
  .selected {
    height: 47px;
  }
  .bottom-footer-links > a {
    font-size: 16px;
  }

  @media all and (max-width: 1006px) {
    .social {
      width: 100%;
    }
    .a-social-footer {
      width: 100vw;
    }
    .middle-bottom-footer {
      width: 100%;
    }
    .bottom-right-footer {
      flex-direction: row-reverse;
    }
    .bottom-footer {
    }
    .bottom-footer-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      row-gap: 20px;
    }
    .lang-mobile {
      display: flex;
      width: 100%;
    }
    .selection {
      display: none;
    }
    .a-social-footer {
      width: 100%;
    }
    .links-n-icon {
      flex-direction: column;
      row-gap: 20px;
    }
    .social p {
      font-size: 12px;
    }
    .social {
      width: 40%;
      align-items: flex-start;
    }
  }
  @media all and (max-width: 640px) {
    .bottom-footer-links {
      flex-wrap: wrap;
      width: 90%;
    }
    .bottom-footer {
      padding: 1rem 1rem 3rem 1rem;
    }
    .social-footer {
      padding: 1rem 1rem 3rem 1rem;
    }
    .a-social-footer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, 1fr);
      border-bottom: 1px solid rgb(53, 49, 49);
      gap: 0 2rem;
      padding-bottom: 1rem;
    }
  }
}
