.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.buttonAndTab {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, fit-content);
  width: 1100px;
  gap: 17px;
}

.buttonAndTab h3 {
  font-size: 22px;
  padding: 5px;
}
.buttonAndTab p {
  padding: 5px;
  font-size: 16px;
}
.buttonAndTab span {
  font-size: 14px;
  font-weight: 600;
}
#topic {
  color: var(--main-colour);
  font-weight: 600;
}

.tab {
  display: flex;
  flex-direction: column;
  width: 368px;
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  transition: transform 300ms ease-out;
  background-color: white;
}

.tab::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 30px 20px 0 rgba(0, 0, 0, 0.5);
  opacity: var(--opacity, 0);
  transition: opacity 500ms;
}

.tab div {
  width: 1fr;
  padding: 24px;
  line-height: 27px;
}

.tab img {
  width: 100%;
}

.centralSect {
  margin: 10rem auto;
}
