* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --main-colour: ;
  --secondary-colour: #eaeaea;
  --rare-cyan: #5aa0d6;
  --ea-black: #161616;

  --ea-dark-color: #161616;
  --ea-light-color: #f3f3f3;
  --ea-dark-color-rgb: 22, 22, 22;
  --ea-light-color-rgb: 243, 243, 243;
  --origin-brand-color: #f56c2c;
  --ea-access-brand-color: #0089cd;
  --xbox-brand-color: #52b043;
  --playstation-brand-color: #003087;
  --nintendo-brand-color: #fe0016;
  --ea-success-color: #00dc8f;
  --ea-error-color: #ff6969;

  color: var(--ea-dark-color);
  --main-font: Verdana, Helvetica;
  --bottom-footer-font: "Oswald";
  --legal-font: "Seravek";
  font-family: var(--main-font);
}

body {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  box-shadow: 50px 0 8px 10px #888888 inset;
  height: 100%;
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  & {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body > main {
  flex-basis: 100%;
}

.border {
  border: 5px dashed green;
}

main h3 {
  font-size: 2.2rem;
  font-weight: 800;
}

.flexCol {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flexRowBeetw {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexRowStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexCenterOne {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 1100px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 340px);
}

.mainBody > .grid > a {
  position: relative;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 6;
}

.title > img {
  width: 45%;
  transition: transform 200ms ease-out;
  z-index: 7;
}

.rgbaBackground {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.battleFieldMainBody {
  background-image: url("../assets/main/playButtons/Battlefield-2042-4.jpg");
}

.FIFA22MainBody {
  background-image: url("../assets/main/playButtons/fifa22-gen5-ultimate-edition-packart.jpg");
}

.FI21MainBody {
  background-image: url("../assets/main/playButtons/fi2021.jpg");
}

.NfSHPMainBody {
  background-image: url("../assets/main/playButtons/s903xz8pn3gTqY4bcKEAxnBo.jpg");
}

.ApexLegendsMainBody {
  background-image: url("../assets/main/playButtons/apex-legends.jpg");
}

.theSims4MainBody {
  background-image: url("../assets/main/playButtons/theSims4.jpg");
}

.madden22MainBody {
  background-image: url("../assets/main/playButtons/madden22.jpg");
}

.itTakesTwoMainBody {
  background-image: url("../assets/main/playButtons/itTakesTwo.png");
}

.gradientAsidePlay {
  background-image: url("../assets/main/playButtons/gradientAsidePlay.png");
}

.backImgBehaviour {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.appendBackgr {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(178, 55, 72, 90%),
    rgba(65, 31, 66, 90%)
  );
  transition: opacity 500ms;
  position: absolute;
  opacity: 0;
}

.mainHeader {
  background-image: url("../assets/mainHeader/new/mainHeader-backgroundw1456w.jpg");
  height: 69vh;
  width: 100%;
  background-size: contain;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainHeader > div {
  margin-right: 23%;
}

.mainHeader > div a {
  background-color: var(--main-colour);
  max-width: 160px;
  max-height: 60px;
  margin-top: 2%;
  color: white;
  font-weight: 500;
  border-radius: 3%;
}

.mainHeader > div a > .divMainButton {
  border: none;
}

.mainHeader > div p {
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
}

.prefooter-hero {
  margin-top: -7rem;
  width: 100%;
  height: 50rem;
  background: url("../assets/footer/preFooter/hero-medium-console-7x2-xl.jpg.adapt.crop7x2.1920w.jpg");
  background-size: 100% 100%;
  z-index: -2;
}
.banner-hero {
  margin-left: 12rem;
  width: 100%;
  height: 85%;
  align-items: center;
  background: linear-gradient(90deg, #16161646, transparent);
  background-position: center;
}
.banner-hero-content {
  width: 35%;
  height: 40%;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 550px;
  margin-left: 20%;
}
.banner-hero-content > .mainButton,
.banner-hero-content .divMainButton {
  border-color: white;
  color: white;
}
.banner-hero-content > img {
  width: 240px;
}
.parental-control {
  width: 100%;
  height: 15%;
  background-color: #6fb0d6;
  justify-content: center;
  padding: 0rem 8rem 0rem 8rem;
}
.parental-control-content {
  flex-basis: 1140px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
}
.parental-control-title {
  width: 55%;
}
.parental-control-title > h2 {
  font-size: 20px;
  color: var(--ea-dark-color);
}

.maintab {
  display: flex;
  border-bottom: 2px solid #dedede;
  width: 100%;
  margin-bottom: 70px;
  justify-content: center;
}

.maintab > div {
  width: 1140px;
  display: flex;
  justify-content: flex-start;
}

.mainNavButt {
  height: 60px;
  margin-left: 2px;
  display: flex;
  align-items: center;
  &:hover {
    background-color: #dedede;
    & > button {
      color: #676767;
    }
  }
}

.tablink {
  width: max-content;
  height: 30px;
  font-size: 18px;
  background-color: transparent;
  color: #070707;
  margin-right: -2px;
  padding: 0 1rem;
  border-right: 2px solid #dedede;
  cursor: pointer;
}

.tablink > span {
  display: inline-block;
  height: 45px;
}

.tablink > #test {
  border-bottom: 3px solid var(--main-colour);
}
